.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureSvg {
    height: 200px;
    width: 200px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .feature {
        flex-basis: 100%; /* Stacks on smaller screens */
    }
}
