.hero {
  display: flex;
  padding: 5rem 0;
  text-align: left;
  align-items: center;
  background: linear-gradient(120deg, #f0f4f8, #ffffff);
  border-bottom: 5px solid #e0e0e0;
}

.hero h1 {
  font-size: 3.5rem;
  color: #333;
  padding-bottom: 0.5rem;
}

.hero h2 {
  color: #555;
  font-weight: normal;
  font-size: 1.8rem;
}

.heroDescription {
  color: #666;
  padding: 1rem 0;
  font-size: 1.2rem;
}

.heroImage {
  max-width: 100%;  /* Adjusted from 100% to 85% */
  height: auto;
  opacity: 0.9;  /* Adding slight opacity to reduce boldness */
  transition: all 0.3s ease-in-out;
  border-radius: 1px;
}

.heroImage:hover {
  opacity: 1;  /* Full opacity on hover for interactive effect */
  transform: scale(1.05);  /* Slight zoom to enhance interactivity */
}

.heroCta .button {
  margin-top: 1rem;
  padding: 0.8rem 1.6rem;
}

.button--primary {
  background-color: #0056b3;
  color: #ffffff;
}

.button--secondary {
  background-color: transparent;
  color: #0056b3;
  border: 2px solid #0056b3;
}

.highlight {
  color: #0056b3;
  font-weight: bold;
}
