/*.aboutUs {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding: 5rem 0;*/
/*    text-align: left;*/
/*    align-items: center;*/
/*    font-family: 'Arial', sans-serif;*/
/*    background-color: #ffffff;*/
/*    border-bottom: 5px solid #e0e0e0;*/
/*    padding-top: 0 !important;*/
/*}*/

/*.row {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    flex-wrap: wrap;*/
/*}*/


/*@media (min-width: 768px) {*/
/*    .aboutUs {*/
/*        padding: 5rem 10%;*/
/*    }*/
/*}*/

.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    border-bottom: 5px solid #e0e0e0;
    padding: 5rem 10%; /* Consistent padding, adjusted in media queries */
    text-align: center; /* Center alignment for text for a more modern look */
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem; /* Adds space between the text and the team cards */
}

.teamCard {
    transition: transform 0.3s ease;
}

.teamCard:hover {
    transform: translateY(-10px); /* Adds a hover effect to team member cards */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

@media (min-width: 768px) {
    .aboutUs {
        text-align: left; /* Left-aligned text on larger screens */
        padding: 5rem 10%;
    }

    .row {
        justify-content: flex-start; /* Align team cards at the start */
    }
}

.aboutUs p {
    font-size: medium;
}