/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --custom-color-1: #fdfdfe; /* Very light, almost white */
  --custom-color-2: #3a36c6; /* Medium dark blue */
  --custom-color-3: #190248; /* Very dark blue, almost black */
  --custom-color-4: #264dfb; /* Bright blue */
  --custom-color-5: #c9cefa; /* Very light lavender */
  --custom-color-6: #7786e8; /* Soft blue */
  --custom-color-7: #6539f7; /* Vivid purple */
  --custom-color-8: #281780; /* Dark purple */
}

[data-theme='dark'] {
  --custom-color-dark-1: #2b2a4a; /* Darkened version of light almost white */
  --custom-color-dark-2: #1e1d77; /* Dark blue, slightly more vivid */
  --custom-color-dark-3: #0f0124; /* Very dark blue, almost black */
  --custom-color-dark-4: #1c33a1; /* Deeper bright blue */
  --custom-color-dark-5: #8589b7; /* Muted lavender for dark mode */
  --custom-color-dark-6: #3f4574; /* Dark soft blue */
  --custom-color-dark-7: #4324b3; /* Darker vivid purple */
  --custom-color-dark-8: #1d0f5c; /* Very dark purple */
}


.hero_src-components-Hero-module {
  background: #f3faf8 !important;
}

.navbar__link--active {
  color: var(--ifm-navbar-link-color);
}
